@import url('https://fonts.googleapis.com/css?family=Open+Sans:120,300,400');

.app {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: #eef151;
  font-weight: 400;
  font-size: 25px;
  padding-bottom: 20px;
}

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  flex-grow: 1;
  width: 90%;
  display: flex;
  justify-content: center;
}

.main {
  height: 100%;
  background-color: #0a2333; 
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #eef151;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 12px;
  font-size: 12px;
}

input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #0a2333 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 12px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #eef151;
  color: #000000;
  font-weight: 300;
}

button:active {
  outline: none;
}

.weather-info {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
}

.weather-stat {
  display: flex;
  flex-grow: 1;
}

.weather-key {
  color: #eef151;
  padding: 12px 0 12px 0;
  font-weight: 400;
}

.weather-value {
  color: #fff;
  font-weight: 120;
  padding: 12px 0 12px 0;
}

.weather-error {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 120;
}
